@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shell-waves-bg {
  background-color: #f8fafc;
  background-image: 
    url('/flower.svg'),
    url('/daisy.svg');
  background-repeat:
    no-repeat,
    no-repeat;
  background-position: 
    right 100px bottom 20px,
    left 100px top 70px;
  background-size: 
    auto 180px,
    180px 280px;
}


